:root {
    --default-margin: 20px auto;
}

body {
  text-align: center;
}

section {
  margin: 60px auto;
}

.container {
    margin: var(--default-margin);
  text-align: center;
}
.carousel-item {
  text-align: center;
}
.carousel-img {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.hola {
    font-size: 56px;
}
.italics {
  font-family: "Scotch Display", Georgia, "Times New Roman", Times, serif;
  font-weight: medium;
  font-style: italic;
}
.intro {
    margin: var(--default-margin);

}
