:root {
  --default-margin: 20px auto;
  --default-padding: 10px 10px 0;
  --all-sides-margin: 4px;
}

body {
  margin: var(--all-sides-margin);
}

h2 {
  font-family: "Silkscreen", cursive;
  font-weight: 400;
}
p {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font: kerning 2px; ;
}
hr {
  max-width: 60%;
}
footer {
  margin: var(--default-margin);
  padding: var(--default-padding);
}
section {
  margin: var(--default-margin);
}
.about-paragraph,
.about-me {
  text-align: left;
  max-width: 100%;
  min-width: 60%;
  line-height: 26px;
}
.btn {
  margin: var(--all-sides-margin);
}
.card {
  margin: var(--all-sides-margin);
}
.container {
  margin: var(--default-margin);
  text-align: center;
}
.carousel-item {
  text-align: center;
}
.carousel-img {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.divide_line {
  display: block;
  width: 60%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.form-label {
  margin: var(--default-margin);
  text-align: justify;
}
.hola {
  font-size: 56px;
}
.italics {
  font-family: "Scotch Display", Georgia, "Times New Roman", Times, serif;
  font-weight: medium;
  font-style: italic;
}
.intro,
.profile-pic {
  font-family: "Articulat CF";
  font-weight: regular;
}
.col-sm {
  margin: var(--default-margin);
}

.emoji {
  transform: scale(4);
}

.quote {
  max-width: 600px;
}
